@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font imports */
@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("./assets/fonts/OpenSans-Condensed-Light.ttf");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("./assets/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("./assets/fonts/OpenSans-SemiCondensed-Light.ttf");
}

:root {
    --black: #000000;
    --white: #ffffff;
    --icewhite: #ebebeb;
    --grey: #5d5d5d;
    --lightblue: #9daaf2;
    --green: #008000;
    --darkblue: #1a2238;
    --blackblue: #0c1220;
    --orange: #ff6a3d;
    --box-shadow-color: inherit;
    --transparent: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darkblue);
  }